<!--The content below is only a placeholder and can be replaced.-->
<p>WDV341 Intro PHP</p>
<p>Survey Form</p>
<form name="form1" method="post" action="">
  <fieldset>
    <p>
      <label>Email:
        <input type="text" name="cust_email" id="cust_email">
      </label>
    </p>
    <p>Please rate the following times from best (1) to worst (4)</p>
    <p>
      <select id="option1" (change)="changeDropdowns($event.target.value, 1)">
        <option value="default">Please Select...</option>
        <option value="1">1. Best time</option>
        <option value="2">2. Next Best time</option>
        <option value="3">3. Not as good</option>
        <option value="4">4. Worst time</option>
      </select>      
      Monday/Wednesday 10:10am-Noon
    </p>
    <p>
      <select id="option2" (change)="changeDropdowns($event.target.value, 2)">
        <option value="default">Please Select...</option>
        <option value="1">1. Best time</option>
        <option value="2">2. Next Best time</option>
        <option value="3">3. Not as good</option>
        <option value="4">4. Worst time</option>
      </select>      
      Tuesday 6:00pm-9:00pm
    </p>
    <p>
      <select id="option3" (change)="changeDropdowns($event.target.value, 3)">
        <option value="default">Please Select...</option>
        <option value="1">1. Best time</option>
        <option value="2">2. Next Best time</option>
        <option value="3">3. Not as good</option>
        <option value="4">4. Worst time</option>
      </select>     
      Wednesday 6:00pm-9:00pm
    </p>
    <p>
      <select id="option4" (change)="changeDropdowns($event.target.value, 4)">
        <option value="default">Please Select...</option>
        <option value="1">1. Best time</option>
        <option value="2">2. Next Best time</option>
        <option value="3">3. Not as good</option>
        <option value="4">4. Worst time</option>
      </select>      
      Tuesday/Thursday 10:10am-Noon
    </p>
    <p>
      <input type="submit" name="button" id="button" value="Submit">
      <input type="reset" name="button2" id="button2" value="Reset" (click)="resetForm()">
    </p>
  </fieldset>  
</form>